<!doctype html>
<!-- Conditional comment for mobile ie7 http://blogs.msdn.com/b/iemobile/ -->
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->

<head>
  <meta charset="utf-8">

  <title>BPampm Scratchoff</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimization http://goo.gl/b9SaQ -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name='viewport' content='user-scalable=0' />

  <!-- Home screen icon  Mathias Bynens http://goo.gl/6nVq0 -->
  <!-- For iPhone 4 with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/h/apple-touch-icon.png">
  <!-- For first-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/m/apple-touch-icon.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="img/l/apple-touch-icon-precomposed.png">
  <!-- For nokia devices: -->
  <link rel="shortcut icon" href="img/l/apple-touch-icon.png">

  <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
  <meta http-equiv="cleartype" content="on">

  <!-- more tags for your 'head' to consider https://gist.github.com/849231 -->

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="stylesheets/style.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="javascripts/libs/jquery-1.6.2.min.js"><\/script>')</script>
	<script src="javascripts/plugins.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript" src="http://use.typekit.com/fyu1vxq.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>

<body onload="setTimeout(function() { window.scrollTo(0, 1) }, 100);">
	
	<header>
		<h3 id="percent">Scratch off the logo below for your chance to win!</h3>
	</header>
	
	<section id="scratchoff">
		<img id="latex" src="img/logo.png" />
		<img id="prize" src="img/prize.png" />
	</section>
	
	<section id="redemption">
		<p>Congratulations! You've won! Come to section 440 to redeem your prize!</p>
		<p><a href="#" onclick="reset(event);" class="win"> Redeem </a></p>
	</section>

	<script src='javascripts/jquery.eraser.js' type='text/javascript'></script>

	<script type = 'text/javascript'>

		function showRedeemButton() {
			$('#redemption').animate({opacity: 1}, 1200, function(){});
		}

		function init(event) {
			$("#latex").eraser({
			    completeRatio: .5,
			    completeFunction: showRedeemButton()
			});
		}
		
		addEventListener( "load", init, false );

		function remove(event) {
			$("#latex").eraser('clear');
			event.preventDefault();
		}

		function reset(event) {
			$("#latex").eraser('reset');
			event.preventDefault();
		}

	</script>

  <script>
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>

</body>
</html>
